@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        @if (User.IsInRole("Admin"))
        {
            <li><a href="@Url.Action("Admin","Admin", new { area = "Admin" })">Admin Panel</a></li>
        }
    </ul>
    }
}
else
{
    <div class="col-lg-2 col-md-1 col-xs-12 menu-box">
        <ul class="ul-menu">
            <li>
                <a href="#login_form">
                    <button onclick="loginMVC()" class="login-btn mbt">
                        <i class="fa fa-sign-in"
                           aria-hidden="true"></i> Login
                    </button>
                </a>
            </li>
            <li>
                <a href="#join_form">
                    <button onclick="" class="register-button mbt">
                        <i class="fa fa-shield"
                           aria-hidden="true"></i>
                        Register
                    </button>
                </a>
            </li>
        </ul>
    </div>
}
