
*.ide
casino-oxana-back/.vs/casino-oxana-back/v16/Server/sqlite3/storage.ide
casino-oxana-back/.vs/casino-oxana-back/v16/Server/sqlite3/storage.ide-wal
casino-oxana-back/.vs/casino-oxana-back/v16/Server/sqlite3/storage.ide-shm
casino-oxana-back/.vs/casino-oxana-back/v16/.suo
casino-oxana-back/.vs/casino-oxana-back/v16/Server/sqlite3/storage.ide
casino-oxana-back/.vs/casino-oxana-back/v16/Server/sqlite3/storage.ide-wal
casino-oxana-back/.vs/casino-oxana-back/v16/Server/sqlite3/storage.ide-shm
casino-oxana-back/.vs/casino-oxana-back/v16/.suo
