.header-menu
{
    width: 100%;
    background-color: #131521;
    color: gray;
    float: left;
}
.content
{
    width: 100%;
    height: 100%;
    float: left;
}
.current-time
{
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Odibee Sans', cursive;
    font-size: 20px;
    float: left;
}

.timer-div{
    padding-bottom: 30px;
    width: 100px !important;
}

.logo
{
    float: left;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    
}
#home
{
    margin-top: 3px;
    color: #cf3476;
    width: 100%;
    width: 50px;
   font-size: 25px;
   float: left;

    
}
#home:hover
{
    cursor: pointer;
}
.menu-item
{
    margin-bottom: 15px;
    font-size: 30px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
.menu-item:hover
{
    cursor: pointer;
}
.login-btn
{
    background-color: #cf3476;
    border: 0px;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    font-size: 10px;
}
.login-btn:hover
{
    cursor: pointer;
}
.register-button
{
    background-color: rgb(53, 152, 254);
    border: 0px;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    font-size: 10px;
}
.register-button:hover
{
    cursor: pointer;
}
body{
    background-color: #1c1d27;
    font-family: 'Francois One', sans-serif;
}

iframe{
    height: 800px;
    width: 1320px;
    display: block;
    margin: auto;
    border: 30px solid #131521;
    border-radius: 20px;
    margin-top: 7%;
}

.footer{
    background: #131521;
    color:white;
}

ul li a{
    color :white;
}

ul li a:hover{
    color:  white;
    text-emphasis-style: none;
}

iframe, object, embed {
    max-width: 100%;
}

.btn-group{
    margin-top: 1%;
    border-radius: 10px;
}

ul{
    list-style-type: none;
}

.ul-menu li{
    float:left;
    width: 48%;
    margin-right: 2%;
}

.ul-menu{
    padding-top: 8px;
    height: 100%;
    
}

.menu-box{
    height: 50px;
    width: 15%;
}

.menu-box:hover{
    color: #cf3476;
}

.game-info{
    border: 10px solid #131521;
    display: block;
    margin: auto;
    width: 50%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}









.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}
.panel a#login_pop, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #131521;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 220px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}



.profile-menu
{
    background-color: #1c1d27;
    float:left;
    width: 85%;
    margin-left: 25%;
    margin-top: 7%;
}

.profile-menu-item
{
    background-color: #131521;

    font-family: 'Krona one';
}

.profile-icon
{
    

}
.main
{
    width: 50%;
    margin-top: 15%;
}


.tb-tab{
    display: inline-block;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding: .25em 1em .25em 1em;
    cursor: pointer;
  }
  
  .tb-tab:hover{
    background-image: linear-gradient(#ffffff 0%, #ffffff 85%, #dae6f1 100%);
  }
  
  .tb-tab-selected{
    display: inline-block;
    border-color: #818486;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding: .25em 1em .25em 1em;
    background-color: #76a2ce;
    color: #ffffff;
  }
  
  
  .tb-divider{
    border: 1px solid #76a2ce;
    line-height: 2px;
  }

.profile-menu-item
{
    color: #76a2ce;
}


.avatar
{
    height: 50%;
    float: left;
}
.tab-content
{
    width: 100%;
    margin-left: 25%;
    height: 100%;
    color: white;
}
.lyaps
{
    background-color: #1c1d27;
    width: 100%;
}
.tab-content p
{
    padding-left: 5%;
}





