.header-menu
{
    width: 100%;
    background-color: #131521;
    color: gray;
    float: left;
}
.content
{
    width: 100%;
    height: 100%;
    float: left;
}
.current-time
{
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Odibee Sans', cursive;
    font-size: 20px;
    float: left;
}

.timer-div{
    padding-bottom: 30px;
    width: 100px !important;
}

.logo
{
    float: left;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    
}
#home
{
    margin-top: 3px;
    color: #cf3476;
    width: 100%;
    width: 50px;
   font-size: 25px;
   float: left;

    
}
#home:hover
{
    cursor: pointer;
}
.menu-item
{
    margin-bottom: 15px;
    font-size: 30px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
.menu-item:hover
{
    cursor: pointer;
}
.login-btn
{
    background-color: #cf3476;
    border: 0px;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    font-size: 10px;
}
.login-btn:hover
{
    cursor: pointer;
}
.register-button
{
    background-color: rgb(53, 152, 254);
    border: 0px;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    font-size: 10px;
}
.register-button:hover
{
    cursor: pointer;
}
body{
    background-color: #1c1d27;
    font-family: 'Francois One', sans-serif;
    margin-bottom: 300px;
}

html{
    min-height: 100%;
    position: relative;
}

iframe{
    height: 800px;
    width: 1320px;
    display: block;
    margin: auto;
    border: 30px solid #131521;
    border-radius: 20px;
    margin-top: 7%;
}

.footer{
    color:white;
    background: #131521;
    bottom:0 !important;
    position: absolute;
    width:100%;
    margin: 0 !important;
    height:300px;
    font-size: 13px;     
    z-index: 99999;

}

.show, .footer:hover {
    display: block;
}

ul li a{
    color :white;
}

ul li a:hover{
    color:  white;
    text-emphasis-style: none;
}

iframe, object, embed {
    max-width: 100%;
}

.btn-group{
    margin-top: 1%;
    border-radius: 10px;
}

ul{
    list-style-type: none;
}

.ul-menu li{
    float:left;
    width: 48%;
    margin-right: 2%;
}

.ul-menu{
    padding-top: 8px;
    height: 100%;
    
}

.menu-box{
    height: 50px;
    width: 15%;
}


.menu-box:hover{
    color: #cf3476;
}

.game-info{
    border: 10px solid #131521;
    display: block;
    margin: auto;
    width: 50%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}
.panel a#login_pop, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #131521;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 220px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}



.profile-menu
{
    background-color: #1c1d27;
    float:left;
    width: 85%;
    margin-left: 25%;
    margin-top: 7%;
}

.profile-menu-item
{
    background-color: #131521;

    font-family: 'Krona one';
}

.profile-icon
{
    

}
.main
{
    width: 50%;
    margin-top: 15%;
}


.tb-tab{
    display: inline-block;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding: .25em 1em .25em 1em;
    cursor: pointer;
  }
  
  .tb-tab:hover{
    background-image: linear-gradient(#ffffff 0%, #ffffff 85%, #dae6f1 100%);
  }
  
  .tb-tab-selected{
    display: inline-block;
    border-color: #818486;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding: .25em 1em .25em 1em;
    background-color: #76a2ce;
    color: #ffffff;
  }
  
  
  .tb-divider{
    border: 1px solid #76a2ce;
    line-height: 2px;
  }

.profile-menu-item
{
    color: #76a2ce;
}

.content-profile
{
    margin-left: 25%;
}

.avatar
{
    height: 50%;
    float: left;
}
.tab-content
{
    width: 100%;
    margin-left: 25%;
    height: 100%;
    color: white;
}
.lyaps
{
    background-color: #1c1d27;
    width: 100%;
}
.tab-content p
{
    padding-left: 5%;
}


.menu-prof
{
    height: 40%;
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	display: block;
	height: 112px;
	width: 100%;
	background: black;
	display: none;
}

.slider-wrapper {
	position: relative;
	width: 100%;
	height:100vh;
	overflow: hidden;
	/*max-height: 550px;*/
}

.slider-navi {
	display: flex;
	justify-content: space-around;
	position: absolute;
	width: 100%;
	max-width: 400px;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 0px;
	z-index: 999;
}

.slider-navi a {
	display: block;
	height: 20px;
	width: 20px;
	margin: 10px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,0.2);
}

.slider-navi a.active {
	background: rgba(255,255,255,1);
}

.flex-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.flex-container.flex-active {
	z-index: 2;
}

.text-sub {
	display: none;
	font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.text-big {
	font-family: 'Poppins', sans-serif;
	font-size: 2.5em;
	font-weight: 700;
	margin: 0;
	margin-left: -2px;
  margin-bottom: 20px;
}

.text-normal {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 22px;
	margin-top: 25px 0;
}

.flex-item {
	height: 100%;
    min-height: 300px;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex-item-left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 65%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
  z-index: 10;
}

.flex-item-right {
	width: 35%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
  z-index: 5;
}

.flex-preStart .flex-item-left,
.flex-preStart .flex-item-right,
.flex-active .flex-item-left,
.flex-active .flex-item-right {
	opacity: 1;
}

/* Piplup */

.flex-piplup .flex-item-left {
	background: #3e9fe6;
}

.flex-piplup .flex-item-right {
	background: #d0cff8;
}

/* Pikachu */

.flex-pikachu .flex-item-left {
	background: #a7392f;
}

.flex-pikachu .flex-item-right {
	background: #201a22;
}

/* Blaziken */

.flex-blaziken .flex-item-left {
	background: #f64f37;
}

.flex-blaziken .flex-item-right {
	background: #ffebcd;
}

/* Dialga */

.flex-dialga .flex-item-left {
	background: #476089;
}

.flex-dialga .flex-item-right {
	background: #ade8f7;
}

/* Zekrom */

.flex-zekrom .flex-item-left {
	background: #424242;
}

.flex-zekrom .flex-item-right {
	background: #a7bcbb;
}

.flex-content {
	position: absolute;
	width: 100vw;
	margin: 0;
	padding: 20px 40px;
	top: 0;
	opacity: 1;
  background: rgba(0,0,0,.2);
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
  z-index: 100;
}

.pokemon-img {
	position: absolute;
	bottom: 80px;
	right: 0;
	left: 0;
    margin-top: 500px;
    margin-bottom: 0px;
    max-width: 40%;
	max-height: 40%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
  z-index: 50;
}

/* Animate-START point */

.flex-container.animate-start .flex-content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex-container.animate-start .pokemon-img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex-container.animate-end .flex-item-left {
	transform: scaleY(0);
}

.flex-container.animate-end .flex-item-right {
	transform: scaleX(0);
}

.flex-container.animate-end .flex-content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}


.flex-container.animate-end .pokemon-img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}

@media (min-width: 768px){
	.slider-navi {
		display: block;
		position: absolute;
		left: auto;
    top: 50%;
    bottom: auto;
		right: 20px;
		width: 40px;
		margin: auto;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	.flex-content {
		display: flex;
		flex-direction: columN;
    justify-content: center;
		width: 70%;
		height: 100%;
    background: none;
	}
	.pokemon-img {
		position: absolute;
		top: -220px;
		right: 24%;
    left: auto;
		max-width: 40%;
		max-height: 40%;
		opacity: 1;
		transform: translate3d(0,0,0);
		transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
		z-index: 750;
	}
	.text-big {
		font-size: 5em;
		margin-left: -4px;
    margin-bottom: 60px;
	}
  .text-normal {
    font-size: 18px;
    line-height: 28px;
  }
}
