@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="slider-wrapper">
        <div class="flex-container flex-pikachu flex-active" data-slide="1">
            <div class="flex-item flex-item-left">
                <div class="flex-content">
                    <p class="text-sub"></p>
                    <h1 class="text-big">Card Games</h1>
                    <p class="text-normal">Here you can play your favourite azart games with the money bets.</p>
                </div>
            </div>
            <div class="flex-item flex-item-right"></div>
            <img class="pokemon-img" src="Images/igralnye-karty.png" />
        </div>
        <div class="flex-container flex-piplup animate-start" data-slide="2">
            <div class="flex-item flex-item-left">
                <div class="flex-content">
                    <p class="text-sub"></p>
                    <h1 class="text-big">Online payments</h1>
                    <p class="text-normal">Deposit and withdraw via visa/mastercard without any fee online.</p>
                </div>
            </div>
            <div class="flex-item flex-item-right"></div>
            <img class="pokemon-img" src="Images/Monobank-card.png" />
        </div>
        <div class="flex-container flex-blaziken animate-start" data-slide="3">
            <div class="flex-item flex-item-left">
                <div class="flex-content">
                    <p class="text-sub"></p>
                    <h1 class="text-big">Adults only</h1>
                    <p class="text-normal">
                        Only full-aged people can play on our resource. Azart games is aged
                        restricted.
                    </p>
                </div>
            </div>
            <div class="flex-item flex-item-right"></div>
            <img class="pokemon-img" src="Images/500px-RARS_18+.svg.webp" />
        </div>

        <div class="slider-navi">
            <a href="#" class="slide-nav active" data-slide="1">Card games</a>
            <a href="#" class="slide-nav" data-slide="2">Visa/Mastercard payments</a>
            <a href="#" class="slide-nav" data-slide="3">Only adults</a>
        </div>

    </div>

    

</body>