
@{
    ViewBag.Title = "Live";
}

<h2>Live</h2>

<body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aG9RUOu90MY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div id='toolbar'>
        <div class='wrapper text-center'>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-dark btn-block">Bet</button>
                <button type="button" class="btn btn-default btn-dark">10</button>
                <button type="button" class="btn btn-default btn-dark">25</button>
                <button type="button" class="btn btn-default btn-dark">50</button>
                <button type="button" class="btn btn-default btn-dark">100</button>
                <input type="text" class="show-bet" disabled/>

            </div>
        </div>
    </div>
    </div>

</body>